.list-item {
	margin: 1rem 0;
	padding: 0 2rem;
	position: relative;

	width: 100%;
	height: @list-item-height;

	font-size: @font-size-large;
	font-weight: @font-weight-medium;

	background: @color-gray-lightest;

	transition: background @transition-fast;

	&.edit {
		.list-item__edit {
			display: block;
		}

		.list-item__label {
			display: none;
		}
	}

	&.done {
		background: @color-primary-lighter;

		.list-item__done-mark {
			opacity: 1;

			color: @color-primary;
		}

		.list-item__label,
		.list-item__edit {
			color: @color-gray-concrete;
			text-decoration: line-through;
		}

		&:hover {
			.list-item__done-mark {
				opacity: 1;
			}
		}
	}

	&.remove-hover {
		background: @color-secondary-lighter;

		&:hover {
			background: @color-secondary-lighter;
		}		
	}

	&.done-hover {
		background: @color-primary-lightest;

		&:hover {
			background: @color-primary-lightest;
		}		
	}

	&:hover {
		.list-item__remove {
			opacity: 1;
		}

		.list-item__done-mark {
			opacity: .5;
		}
	}
}

.list-item__done-mark {
	position: absolute;
	left: 2rem;

	line-height: @list-item-height;

	cursor: pointer;
	color: @color-gray-midnight;
	opacity: .5;
	transition: all @transition-faster;

	@media @q-sm-min {
		opacity: 0;
	}
}

.list-item__label {
	line-height: @list-item-height;
	color: @color-gray-wetasphalt;

	transition: all @transition-faster;
}

.list-item__edit {
	display: none;

	border: none;
	background: none;

	transition: all @transition-faster;
}

.list-item__remove {
	position: absolute;
	right: 2rem;
	top: 50%;
	transform: translateY(-50%);

	opacity: 1;
	color: @color-secondary;
	transition: all @transition-fast;

	.glyphicon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&:hover,
	&:visited,
	&:focus,
	&:active {
		color: @color-secondary;
	}

	@media @q-sm-min {
		opacity: 0;
	}
}