@color-lightest:    			#FFF;
@color-darkest:     			#000;


@color-gray-lightest:      		#f8f8f8;
@color-gray-clouds:      		#ecf0f1;
@color-gray-concrete:      		#95a5a5;
@color-gray-mineshaft:			#7e8c8d;
@color-gray-midnight:      		#41484e;
@color-gray-wetasphalt: 		#34495e;


@color-primary-lightest: 		lighten(@color-primary, 35%);
@color-primary-lighter:	 		lighten(@color-primary, 30%);
@color-primary-light:	 		lighten(@color-primary, 10%);
@color-primary: 				#3FFF7C;
@color-primary-dark:		 	darken(@color-primary, 10%);
@color-primary-darker:	 		darken(@color-primary, 30%);
@color-primary-darkest:	 		darken(@color-primary, 35%);

@color-secondary-lightest: 		lighten(@color-secondary, 35%);
@color-secondary-lighter:	 	lighten(@color-secondary, 30%);
@color-secondary-light:	 		lighten(@color-secondary, 10%);
@color-secondary: 				#FF3F5A;
@color-secondary-dark:		 	darken(@color-secondary, 10%);
@color-secondary-darker:	 	darken(@color-secondary, 30%);
@color-secondary-darkest:	 	darken(@color-secondary, 35%);
