@color-lightest:    			#FFF;
@color-darkest:     			#000;


@color-gray-lighest:      		#dedede;
@color-gray-clouds:      		#ecf0f1;
@color-gray-concrete:      		#95a5a5;
@color-gray-mineshaft:			#7e8c8d;
@color-gray-midnight:      		#41484e;
@color-gray-wetasphalt: 		#34495e;


@color-succes-lightest: 		lighten(@color-succes, 35%);
@color-succes-lighter:	 		lighten(@color-succes, 30%);
@color-succes-light:	 		lighten(@color-succes, 10%);
@color-succes: 					#3FFF7C;
@color-succes-dark:		 		darken(@color-succes, 10%);
@color-succes-darker:	 		darken(@color-succes, 30%);
@color-succes-darkest:	 		darken(@color-succes, 35%);
